security:
  password_hashers:
    Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

  providers:
    app_user_provider:
      entity:
        class: App\Entity\User
        property: email

  firewalls:
    dev:
      pattern: ^/(_(profiler|wdt)|css|images|js)/
      security: false

    login:
      json_login:
        check_path: /api/login_check
        username_path: email
        password_path: password
        success_handler: lexik_jwt_authentication.handler.authentication_success
        failure_handler: lexik_jwt_authentication.handler.authentication_failure

    api:
      pattern: ^/api
      stateless: true
      provider: app_user_provider
      jwt: ~

  access_control:
  - { path: ^/api/login_check, roles: PUBLIC_ACCESS }
  - { path: ^/api/register$, roles: PUBLIC_ACCESS }
  - { path: ^/api/admin, roles: ROLE_ADMIN }
  - { path: ^/api/client, roles: ROLE_CLIENT }
  - { path: ^/api/traiteur, roles: ROLE_TRAITEUR }
  - { path: ^/api, roles: IS_AUTHENTICATED_FULLY }



